
.home-page-wrapper {
	margin-bottom: 0;
	padding-bottom: 0;
	/*border: 1px solid #ff0000;*/
}

.home-page-wrapper h1 {
	margin-bottom: 0;
}

.home-page-content-wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: calc(100% - 65px);
	align-items: center; /* h-align */
	/*justify-content: center; !* v-align *!*/
	justify-content: space-evenly;
	/*border: 1px solid #ff00ff;*/
}

.home-page-content-wrapper > * {
	/*margin: auto;*/
	/*width: 100%;*/
	/*border: 1px dashed #ff00ff;*/
}

.home-page-form {
	flex: 0 1 0;
}

.home-page-logo-wrapper {
	flex: 0 1 0;
}

.home-page-content-logo {
	margin-bottom: 10px;
	cursor: pointer;
}

.home-page-content-logo:last-child {
	margin-bottom: 0;
}

.home-page-content-logo-itunes {
	width: 180px;
	height: 46px;
}

.home-page-content-logo-spotify {
	width: 180px;
	height: 50px;
}


@media screen and (max-width: 800px) {
	.home-page-form {
		margin-bottom: 45px;
	}
}
