
.home-page-wrapper {
}

.home-page-form {
	display: flex;
	flex-direction: column;
	align-content: stretch;
	align-items: center;
}

.home-page-logo-wrapper {
	margin-top: 50px;
}

.home-page-content-logo {
	margin-bottom: 10px;
	cursor: pointer;
}

.home-page-content-logo:last-child {
	margin-bottom: 0;
}

.home-page-content-logo-itunes {
	width: 180px;
	height: 46px;
}

.home-page-content-logo-spotify {
	width: 180px;
	height: 50px;
}


@media screen and (max-width: 800px) {
	.home-page-form {
		margin-bottom: 45px;
	}
}
