
.bottom-nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 20px 0 20px 0;
	background-color: rgba(255, 255, 255, 0.1975);
	text-align: center;
	z-index: 2;
}

.bottom-nav-button-wrapper {
}


@media screen and (max-width: 800px) {
	.bottom-nav {
		padding: 20px;
	}
}
