
.bottom-nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 20px 0 20px 0;
	background-color: rgba(var(--site-bg-alpha-color), 0.975);
	text-align: center;
	z-index: 2;
}

.bottom-nav-button-wrapper {
}


@media screen and (max-width: 800px) {
	.bottom-nav {
		padding: 20px 30px;
	}

	.bottom-nav-button-wrapper button {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.bottom-nav-button-wrapper button:last-child {
		margin-bottom: 0;
	}
}
